.container {
  border: 1px solid #000000;
  padding: 1rem 0.5rem 1rem 0.5rem;
  height: 100%;

  .paragraph {
    width: 70%;
    margin-top: 2rem;
  }
}

@media (max-width: 590px) {
  .container{
    .paragraph {
      width: 100%;
    }
  };
}

@media (max-width: 1090px) {
  .container{
    .paragraph {
      width: 100%;
      margin: 0;
    }
  };
}
